@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), local('Montserrat-Regular'),
        url('../font/Montserrat-Regular.woff2') format('woff2'),
        url('../font/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}