@font-face {
    font-family: 'Corvus Medium Condensed';
    src: url('CORVUS-MediumCondensed.eot');
    src: local('Corvus Medium Condensed'), local('CORVUS-MediumCondensed'),
        url('CORVUS-MediumCondensed.eot?#iefix') format('embedded-opentype'),
        url('CORVUS-MediumCondensed.woff2') format('woff2'),
        url('CORVUS-MediumCondensed.woff') format('woff'),
        url('CORVUS-MediumCondensed.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}